.App{
    height: 100vh;
    width: 100vw;
    background: rgba(168, 173, 182);
    display: grid;
    place-items: center;
}
.app_container{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232,234,237);
    border-radius: 12px;
    padding:32px 0;
    
}
.todo_container{
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 188, 188); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }